---
import ArticleCard from './ArticleCard.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  articles: CollectionEntry<'articles'>[];
}

const { articles } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {articles.map(article => (
    <ArticleCard
      title={article.data.title}
      author={article.data.author}
      authorImage={article.data.authorImage}
      date={article.data.date}
      category={article.data.category}
      excerpt={article.data.excerpt}
      image={article.data.image}
      slug={article.id}
    />
  ))}
</div>
